@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Merriweather", serif;
}

                /* banner section style starts here */

.banner-container{
    max-width: 1320px;
    min-height: 600px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

}
.banner-content p, h1{
    color: white;
}
.banner-content p{
    font-size: 32px;
    font-weight: 400;   
}
.banner-content h1{
    font-size: 72px;
    font-weight: 900;
}
#celebration{
    text-align: center;
    font-size: 72px;
    font-weight: 900;
}

                /* second section style starts here */

/* the layout design */
.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0px auto;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* the content design */
.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}
.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}
.second-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}
.image-container{
    width: 802.9px;
    height: 500px;
    margin-top: 48px;
}
.image-container img{
    height: 100%;
    width: 100%;
}

                 /* third section style starts here */
.third-section-container{
    width: 1320px;
    height: 600px;
    margin: 0px auto;
    margin-top: 120px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("../images/third-image.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    border-radius: 16px;
}
.left-side-text-content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.left-side-text-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.left-side-text-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.left-side-text-content h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    padding-right: 370px;
}
.right-side-image-content{
    width: 50%;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-side-image-content img{
    width: 349.16px;
    height: 464.65px;
}


                        /* fourth section style starts here */
.fourth-section-container{
    width: 1320px;
    height: 482px;
    margin: 0px auto;
    margin-top: 120px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.fourth-section-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 386px 214px 385px;
}

.fourth-section-content h3{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.red-text{
    color: rgb(255, 0, 0);
}

.btn{
    font-size: 20px;
    font-weight: 700;
    margin-top: 48px;
    width: 167px;
    height: 56px;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;   
}
.btn:hover{
    background-color: white;
    color: black;
    border: 5px solid red;
}

                        /* fifth section style starts here */
.fifth-section-container{
    width: 1320px;
    height: 463px;
    margin: 0px auto;
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.first-content{
    width: 33.33%;
}
.first-content h3{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.first-content h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.first-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-right: 70px;
}

.second-content{
    width: 33.33%;
    align-items: center;
}
#image{
    width: 463px;
    height: 463px;
    border: 15px solid red;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 36px;
}
.third-content{
    width: 33.33%;
}

.third-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-right: 150px;
    margin-bottom: 16px;
    text-align: right;
}
#jhamela{
    width: 276px;
    height: 96px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    margin-left: 165px;
}

.third-content img{
    position: absolute;
    margin-left: 165px;
    margin-top: 10px;
}

                        /* sixth section style starts here */
.sixth-section-container{
    width: 1320px;
    height: 986.07px;
    margin: 120px auto;
    position: relative;
}

.sixth-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.sixth-text-container h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.sixth-text-container h2{
    font-family: Merriweather;
    font-size: 72px;
    font-weight:900;
    line-height: 91px;
    margin-bottom: 28px;
}
#holiday{
    color:rgb(255, 0, 0);
}
.sixth-text-container p{
    text-align: center;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 64px;
}
.solid-color{
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 76.88%;
    border-radius: 15px;
}
.giftbox{
    width: 1320px;
    height:700px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#box{
    border: 2.5px dashed rgb(185, 185, 185);
}

#circle{
    border: 2.5px dashed rgb(185, 185, 185);
    margin: 0;
    /* position: absolute;
    left: 145%;
    margin-bottom: 50px; */
    margin-bottom: 170px;
    margin-right: 40px;

}

                    /* seventh section style starts here */
.seventh-section-container{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.seventh-section-text-content h5{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.seventh-section-text-content h3{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.seventh-section-text-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 48px;
}
.portfolio-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}
.item{
    width: 424px;
    height: 450px;
    border: 2.5px dashed rgb(185, 185, 185);
}
.item img{
    width: 100%;
    height: 100%;
}

                     /* eighth section style starts here */
.eighth-section-container{
    width: 1320px;
    height: 616px;
    margin: 0 auto;
    margin-bottom: 120px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}
.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.contents img{
    border: 2.5px dashed rgb(185, 185, 185);
    margin-bottom: 40px;
    margin-top: 86.23px;
}
.contents h1{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}
.contents p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 48px;
}

.button{
    cursor: pointer;
}
.button:hover{
    background-color: rgb(255, 2, 2);
    color: black;
    border: 1px solid rgb(255, 255, 255);
}

.subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.sub-1{
    background-color: rgb(255, 255, 255);
    width: 438px;
    height: 72px;
    border-radius: 50px 0px 0px 50px;
    padding: 25px 477px 25px 30px;
    color: rgba(7, 2, 17, 0.3);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.sub-2{
    background-color:rgb(255, 0, 0);
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    padding:24px 56px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}

                     /* footer section style starts here */
.footer-section-container{
    background-color: rgb(7, 2, 17);
    width: 1320px;
    height: 609px;
    margin: 0 auto;
    border: 0.01px solid  rgb(7, 2, 17);
    color: rgb(255, 255, 255);
}
.footer-first-content{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 120px;
    margin-bottom: 50px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.left-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact{
    display: flex;
    gap: 10px;
    margin-right: 120px;
}
.hero{
    width: 80%;
    margin: 0 auto;
    height: 1px;  
    background-color: rgb(43, 43, 43);  
    border: none;   
}
.social-icons{
    display: flex;
    margin-top: 48.5px;
    margin-left: 500px;
    margin-right: 482px;
    margin-bottom: 47.5px;
    gap: 18px;
    justify-content: space-evenly;
}
.social-icons img{
    border: 2px dashed rgb(185, 185, 185);
    width: 64px;
    height: 64px;
}
.footer-end-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

    width: 80%;
    margin-top: 50.5px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

                        /* the mission ends here */